body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    padding: 0;
}

.my_bookings {

    margin: 20px auto;
    padding-top: 20px;
    align-self: center;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 30px;
    margin-top: 30px;
}

.bookings-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

.bookings-table th, .bookings-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.bookings-table th {
    background-color: #f2f2f2;
    color: #333;
}

.bookings-table tr:hover {
    background-color: #f9f9f9;
}

.bookings-table td {
    color: #666;
}

p {
    font-size: 18px;
    color: #666;
}
