


body {
    font-family: Arial;
    margin: 0; 
    padding: 0; 
}
a 
{
    font-family: monospace;
}

.navbar {
    background-color: #0a2d2d; 
    width: 250px; 
    height: 100%;
    position: fixed;
    font-family: "arial";
    font-size: 18px;
    top: 0;
    margin-right: 200px;
}

.navbar h5 {
    display: block;
    color: #fff; 
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a {
    display: block;
    color: #73d1fa; 
    padding: 15px 20px; 
    text-decoration: none;
    margin: 10px 0px 10px 0px ;
    font-family: 'Arial';
}


.navbar a:hover {

    color: #ffffff;
}




.content {
    margin-left: 220px; 
    padding: 20px;
}


.page-content {
    background-color: #f0f0f0;
    padding: 20px;
}
.admin_name h5{
   
    background-color: #0c7383;
}

.log_out {
   margin-top: 220px;
   margin-right: 90px;
   color: white;
   background-color: #181c21;
}
.navbar .log_out a:hover{
    background-color:  #031e40;
}